@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .text-#{$name} {
    color: $color;
  }

  .text-hover-#{$name} {
    &:hover {
      color: $color;
    }
  }

  .btn-#{$name} {
    background-color: $color;
    border-color: $color;
  }

  .btn-hover-#{$name} {
    &:hover {
      background-color: $color;
      border-color: $color;
    }
  }
}